/* animation stuff */

/* other */

/* MESSAGE BOARDERS BRO */
#messages .cm {
    border: 1px solid rgba(0,0,0,0);
        -webkit-transition: border-color 1s ease;
    -moz-transition: border-color 1s ease;
    -ms-transition: border-color 1s ease;
    -o-transition: border-color 1s ease;
    transition: border-color 1s ease;
}

/* MSG-IN BOARDER BRO */
#msg-in {
    border: 1.5px solid rgba(0,0,0,0) !important;
        -webkit-transition: border-color 1s ease !important;
    -moz-transition: border-color 1s ease !important;
    -ms-transition: border-color 1s ease !important;
    -o-transition: border-color 1s ease !important;
    transition: border-color 1s ease !important;

}

.cm.room-greet {
    background-color: rgba(69, 94, 222, .2);
    color: #4694dd;
}

#msg-in:hover {
 	border: 1.5px solid #58456d !important;
    -webkit-transition: border-color 1s ease !important;
    -moz-transition: border-color 1s ease !important;
    -ms-transition: border-color 1s ease !important;
    -o-transition: border-color 1s ease !important;
    transition: border-color 1s ease !important;
}

#messages .cm:hover, .ncscm  {
 	border: 1px solid #58456d;
    -webkit-transition: border-color 1s ease;
    -moz-transition: border-color 1s ease;
    -ms-transition: border-color 1s ease;
    -o-transition: border-color 1s ease;
    transition: border-color 1s ease;
}

/* Temp ETA Fix */
.btn-join::after {
    z-index: 6 !important;
    content: attr(data-eta) !important; 
    display: inline-block !important;
    top: 15px !important;
    left: 15px !important;
    font-size:12px !important; 
    width: 100px !important;
    height: 100px !important;
}

#NCSETA.hidden {
    z-index: 6;
    display: block;
    pointer-events: none;
    opacity: 0;
}
#NCSETA {
    z-index: 6;
    position: absolute;
    left: 0;
    top: 0;
    margin: 15px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 24px;
    font-family: arial, sans-serif;
    border: 2px lightblue;
    border-style: solid;
    opacity: .3;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}
#NCSETA:hover {
    z-index: 6;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

#room-bg {
    background-image: url('https://i.imgur.com/zedBGq7.png0') !important;
}

/* Rating Buttons */

/* Rating Buttons */
.ctrl {
  width: 18.03% !important;
}

/* GRAB */

.btn-grab {
  z-index: 6;
  background: transparent;
  color: #fff;
  line-height: 5px;
  padding: 0 5px;
  border-radius: 1px;
  position: relative;
  top: 0;
  left: 0;
  overflow: visible;
  cursor: pointer;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;;
}

.btn-grab.active {
  background: #455EDE;
}

.btn-grab:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 3%;
}

.active:before {
  content: "";
  position: absolute;
  left: calc(25% - 25px);
  width: 10px;
  background-color: #3B50CE;
  border-radius: 100%;  
  
  -webkit-animation: scaleout 0.3s 1 ease-out;
  animation: scaleout 0.3s 1 ease-out;
  
  opacity: 0;
}

.ink {
  background: none;
  color: #1a1a1a;
}

.ink.active {
  background: #E0E0E0;
}

.ink.active:before {
  background: #BDBDBD;
}

/* WOOT */
.btn-upvote {
  background: transparent;
  color: #fff;
  height: 6px;
  line-height: 5px;
  padding: 0 5px;
  border-radius: 1px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;;
}

.btn-upvote.active {
  background: #455EDE;
}

.btn-upvote:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 3%;
}

/* MEH */
.btn-downvote {
  background: transparent;
  color: #fff;
  height: 6px;
  line-height: 5px;
  padding: 0 5px;
  border-radius: 1px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;;
}

.btn-downvote.active {
  background: #455EDE;
}

.btn-downvote:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 3%;
}

/* SNOOZE */
.btn-snooze {
  background: transparent;
  color: #fff;
  height: 6px;
  line-height: 5px;
  padding: 0 5px;
  border-radius: 1px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;;
}

.btn-snooze.active {
  background: #455EDE;
}

.btn-snooze:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 3%;
}



/* DJ */
.btn-join {
  background: transparent;
  color: #fff;
  height: 6px;
  line-height: 5px;
  padding: 0 5px;
  border-radius: 1px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;;
}

.btn-join.active {
  background: #455EDE;
}

.btn-join:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 3%;
}


#controls {
  opacity: .3;
}

/* TEXT BOXES */


/* Anmiation from http://tobiasahlin.com/spinkit/ */

@-webkit-keyframes scaleout {
  0% { 
    opacity: 1;
    -webkit-transform: scale(0.0) 
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    opacity: 1;
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}


/* Loli Counter */
#loli-counter.hidden {
    z-index: 6;
    display: block;
    pointer-events: none;
    opacity: 0;
}
#loli-counter {
    z-index: 6;
    position: absolute;
    left: 0;
    top: 0;
    margin: 15px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 24px;
    font-family: arial, sans-serif;
    border: 2px lightblue;
    border-style: solid;
    opacity: .3;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}
#loli-counter:hover {
    z-index: 6;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

/* Progress bar */
.song-progress {
    background-color: #404c84 !important;
}

/*Every Other Chat Message*/
.cm:nth-child(odd){
	background: rgba(48, 50, 53, 0.5);
}
