/* NCS THEME MODIFIED */

/* animation stuff */

@-webkit-keyframes changeShadow {
  	0% {
    	box-shadow: 0px 0px 30px #198000;
  	}

  	50% {
    	box-shadow: 0px 0px 30px #244270;
  	}
  
  	100% {
    	box-shadow: 0px 0px 30px #88306c;
	}
}  
@-moz-keyframes changeShadow {
  	0% {
    	box-shadow: 0px 0px 30px #198000;
  	}

  	50% {
    	box-shadow: 0px 0px 30px #244270;
  	}
  
  	100% {
    	box-shadow: 0px 0px 30px #88306c;
	}
}

/* other */

/* Chat Edits */
#app-right,#msg-in {
    /* background-image: url("http://i.imgur.com/XJrUeIy.png"); */
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.75);
    background-size: 255px;
    -webkit-box-shadow: -6px 3px 12px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -6px 3px 12px -1px rgba(0,0,0,0.75);
	box-shadow: -6px 3px 12px -1px rgba(0,0,0,0.75);
    
}

#msg-in {
    opacity: .5;
}

/* Logo */
.playback {
    background-image: url('https://i.imgur.com/1YYbTUT.png') !important;
	-webkit-box-shadow: 0px 1px 27px 7px rgba(20,120,15,1);
	-moz-box-shadow: 0px 1px 27px 7px rgba(20,120,15,1);
	box-shadow: 0px 1px 27px 7px rgba(20,120,15,1);
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-name: changeShadow;
    -webkit-animation-name: changeShadow;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
}

/* MESSAGE BOARDERS BRO */
#messages .cm {
    border: 1px solid rgba(0,0,0,0);
    -webkit-transition: border-color .3s ease;
    -moz-transition: border-color .3s ease;
    -ms-transition: border-color .3s ease;
    -o-transition: border-color .3s ease;
    transition: border-color .3s ease;
}

/* MSG-IN BOARDER BRO */
#msg-in {
    border: 1.5px solid rgba(0,0,0,0) !important;
        -webkit-transition: border-color 1s ease !important;
    -moz-transition: border-color 1s ease !important;
    -ms-transition: border-color 1s ease !important;
    -o-transition: border-color 1s ease !important;
    transition: border-color 1s ease !important;

}

.cm.room-greet {
    background-color: rgba(69, 94, 222, .2);
    color: #4694dd;
}

#msg-in:hover {
 	border: 1.5px solid #58456d !important;
    -webkit-transition: border-color 1s ease !important;
    -moz-transition: border-color 1s ease !important;
    -ms-transition: border-color 1s ease !important;
    -o-transition: border-color 1s ease !important;
    transition: border-color 1s ease !important;
}

#messages .cm:hover, .ncscm  {
 	border: 1px solid #00aeff;
    -webkit-transition: border-color .3s ease;
    -moz-transition: border-color .3s ease;
    -ms-transition: border-color .3s ease;
    -o-transition: border-color .3s ease;
    transition: border-color .3s ease;
}

/* Temp ETA Fix */
.btn-join {
	font-size: 8px;
	height: 10px;
}

#NCSETA.hidden {
    z-index: 6;
    display: block;
    pointer-events: none;
    opacity: 0;
}
#NCSETA {
    z-index: 6;
    position: absolute;
    left: 0;
    top: 0;
    margin: 15px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 24px;
    font-family: arial, sans-serif;
    border: 2px lightblue;
    border-style: solid;
    opacity: .3;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}
#NCSETA:hover {
    z-index: 6;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

#room-bg {
    background-image: url('https://i.imgur.com/R1f0EJS.jpg') !important;
}

/* Rating Buttons */
/* 
ANC plug.dj buttons! 
Credit to the creators! If you want these removed, please let me know so I can do so.
*/

.btn-join {
    opacity: .6;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}
.btn-join:hover {
    opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

.btn-upvote {
    opacity: .6;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}
.btn-upvote:hover {
    opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

.btn-grab {
    opacity: .6;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}
.btn-grab:hover {
    opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

.btn-snooze {
    opacity: .6;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}
.btn-snooze:hover {
    opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

.btn-downvote {
    opacity: .6;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}
.btn-downvote:hover {
    opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

.btn-logo {
    opacity: .6;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}
.btn-logo:hover {
    opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

.btn-youtube {
    opacity: .6;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}
.btn-youtube:hover {
    opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

.tab {
    opacity: .6;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}
.tab:hover {
    opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

.btn-lock {
	opacity: .6;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.btn-lock:hover {
	opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

.btn-cycle {
	opacity: .6;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.btn-cycle:hover {
	opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

.btn-lastdj {
	opacity: .6;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.btn-lastdj:hover {
	opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

.btn-skip {
	opacity: .6;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.btn-skip:hover {
	opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

.btn-fullscreen {
	opacity: .6;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.btn-fullscreen:hover {
	opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

.btn-refresh {
	opacity: .6;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.btn-refresh:hover {
	opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

.btn-stream {
	opacity: .6;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.btn-stream:hover {
	opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

.btn-hd {
	opacity: .6;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.btn-hd:hover {
	opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

.btn-volume {
	opacity: .6;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.btn-volume:hover {
	opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

.rng-volume {
	opacity: .6;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.rng-volume:hover {
	opacity: 1;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -moz-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    -o-box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important;
    box-shadow: inset 0 -5px 0 0 rgba(84, 123, 201, 1)!important
}

/* Anmiation from http://tobiasahlin.com/spinkit/ */

@-webkit-keyframes scaleout {
  0% { 
    opacity: 1;
    -webkit-transform: scale(0.0) 
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    opacity: 1;
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}


/* Loli Counter */
#loli-counter.hidden {
    z-index: 6;
    display: block;
    pointer-events: none;
    opacity: 0;
}
#loli-counter {
    z-index: 6;
    position: absolute;
    left: 0;
    top: 0;
    margin: 15px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 24px;
    font-family: arial, sans-serif;
    border: 2px lightblue;
    border-style: solid;
    opacity: .3;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}
#loli-counter:hover {
    z-index: 6;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

/* Progress bar */
.song-progress {
    background-color: #404c84 !important;
}

.dash {
    
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.dash:hover {
    
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

div>.pl-grab.ng-binding.ng-scope {
    
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

#app-right {
    
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

#app-right:hover {
    
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.controls {
    
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.controls:hover {
    
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.logo-menu {
    
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.logo-menu:hover {
    
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.logo-menu:active {
    
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

/*Every Other Chat Message*/

/* I commented this out till it looks a little better with the color scheme ;3 --CSxKING
.cm:nth-child(odd){
	background: rgba(48, 50, 53, 0.5);
}
*/
