/* animation stuff */

/* other */

#countdown.hidden {
  background: #313131;
  width: 250px;
  margin: 20px;
  border: 2px solid #00FFF6;
  border-radius: 10px;
  z-index: 5;
  bottom: 0;
  text-align: center;
  margin-top: 60px;
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  opacity: .2;
}

#countdown {
  background: #313131;
  width: 250px;
  margin: 20px;
  border: 2px solid #00FFF6;
  border-radius: 10px;
  z-index: 5;
  bottom: 0;
  text-align: center;
  margin-top: 60px;
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  opacity: .4;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

#countdown:hover {
  opacity: 1;
   transition: opacity .2s ease-in-out;
   -moz-transition: opacity .2s ease-in-out;
   -webkit-transition: opacity .2s ease-in-out;
}

#room-bg {
    background-image: url('https://i.imgur.com/zedBGq7.png0') !important;
}

/* Rating Buttons */
.ctrl.btn-upvote.hidden {
    opacity: .2;
}

.ctrl.btn-upvote {
  opacity: .4;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.ctrl.btn-upvote:hover {
  opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}


.ctrl.btn-upvote.active:hidden {
   opacity: .2;
   transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.ctrl.btn-upvote.active {
     opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.ctrl.btn-upvote.active:active {
      opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}


.ctrl.btn-grab {
  opacity: .4;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.ctrl.btn-grab:hover {
  opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}


.ctrl.btn-grab.active:hidden {
   opacity: .2;
   transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.ctrl.btn-grab.active {
     opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.ctrl.btn-grab.active:active {
      opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.ctrl.btn-join {
  opacity: .4;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.ctrl.btn-join:hover {
  opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}


.ctrl.btn-join.active:hidden {
   opacity: .2;
   transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.ctrl.btn-join.active {
     opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.ctrl.btn-join.active:active {
      opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}
.ctrl.btn-snooze {
  opacity: .4;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.ctrl.btn-snooze:hover {
  opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}


.ctrl.btn-snooze.active:hidden {
   opacity: .2;
   transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.ctrl.btn-snooze.active {
     opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.ctrl.btn-snooze.active:active {
      opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.ctrl.btn-downvote {
  opacity: .4;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.ctrl.btn-downvote:hover {
  opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}


.ctrl.btn-downvote.active:hidden {
   opacity: .2;
   transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.ctrl.btn-downvote.active {
     opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.ctrl.btn-downvote.active:active {
      opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

/* Loli Counter */
#loli-counter.hidden {
    z-index: 6;
    display: block;
    pointer-events: none;
    opacity: 0;
}
#loli-counter {
    z-index: 6;
    position: absolute;
    left: 0;
    top: 0;
    margin: 15px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 24px;
    font-family: arial, sans-serif;
    border: 2px lightblue;
    border-style: solid;
    opacity: .3;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}
#loli-counter:hover {
    z-index: 6;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}
